<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yiz.anyonecan">

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/anyonecan_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Page1Activity"
            android:label="@string/title_activity_page1"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page2Activity"
            android:label="@string/title_activity_page2"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page3Activity"
            android:label="@string/title_activity_page3"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page4Activity"
            android:label="@string/title_activity_page4"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page5Activity"
            android:label="@string/title_activity_page5"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page6Activity"
            android:label="@string/title_activity_page6"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page7Activity"
            android:label="@string/title_activity_page7"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page8Activity"
            android:label="@string/title_activity_page8"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page9Activity"
            android:label="@string/title_activity_page9"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page10Activity"
            android:label="@string/title_activity_page10"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page11Activity"
            android:label="@string/title_activity_page11"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page12Activity"
            android:label="@string/title_activity_page12"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page13Activity"
            android:label="@string/title_activity_page13"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Page14Activity"
            android:label="@string/title_activity_page14"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ListenGameActivity"
            android:label="@string/title_activity_listen_game"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
